app-recipe-categories, app-season, span {
  color: var(--ion-color-primary);
}

.flexbox {
  display: flex;
  gap: 10px;
  color: var(--ion-color-primary);
}

.topic-desc {
  padding: 5px 0;
}

.diet {
  width: 48px;
  padding: 5px 0;
  text-align: right;
}
