<ion-header>
  <ion-toolbar>
    <ion-title>Rezepte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let planDefinition of planDefinitions">
    <app-recipes-list-item [planDefinition]="planDefinition"></app-recipes-list-item>
  </ion-list>
  <ion-infinite-scroll threshold="10%" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
